*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #292929;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
.section{
    width: 500px;
    height: 300px;
    padding: 30px;
    background: #33ffd9;
    box-shadow: 0 0 10px #000000;
    border: 20px solid transparent;
    border-image-source: url(lines.png);
    border-image-slice: 20;
    border-image-width: 30px;
    border-image-outset: 10px;
    border-image-repeat: round;
}